<aside id="bottom-widgets">
    <div class="container">
        <div class="col-md-4">
 
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div> <!-- container -->
</aside> <!--bootom-widgets -->

<footer id="footer">
    <div class="container">
        <div class="row">

        </div>
    </div>
</footer> <!-- footer -->