<header class="page-title">
    <div class="container">
        <h1>register</h1>

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Register</li>
        </ol>
    </div> <!-- container -->
</header>

<%= render 'form' %>
