<header class="page-title">
    <div class="container">
        <h1>My Account</h1>

        <ol class="breadcrumb">
            <li><a href=<%= root_path %>>Blogs</a></li>
            <li class="active">My Account</li>
        </ol>
    </div> <!-- container -->
</header>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Confirmed at:</strong>
  <%= @user.confirmed_at %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

