<!-- Intro section start -->
<section id="intro" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hello wow bounceInDown">
          <h1>Hello, I'm Jennifer Nelson</h1>
          <h3><span class="rotate">Front End Developer. | AngularJS Specialist. | Javascript Programmer. | RoR Creator.</span></h3>
        </div>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</section>
<!-- Intro section end -->

<!-- Profile contact callout section -->
<section id="profile-contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 wow bounceInUp">
        <div class="profile-item">
          <a href="http://codepen.io/jwncoexists/">
            <i class="fa fa-codepen"></i>
          <h5>My Playground</a></h5>
        </div>
      </div>
      <div class="col-sm-3 wow bounceInUp">
        <div class="profile-item">
          <a href="https://github.com/jwncoexists">
            <i class="fa fa-github"></i>
          <h5>Github Code</a></h5>
        </div>
      </div>
      <div class="col-sm-3 wow bounceInUp">
        <div class="profile-item">
          <a href="mailto:jwncoexists@gmail.com">
            <i class="fa fa-envelope-o"></i>
          <h5>jwncoexists@gmail.com</a></h5>
        </div>
      </div>
      <div class="col-sm-3 wow bounceInLeft">
        <div class="profile-item">
          <a href="#profile">
            <i class="fa fa-arrow-circle-o-down"></i>
          <h5>scroll for more</a></h5>
        </div>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</section>
<!-- Profile contact callout section -->

<!-- Profile section start -->
<section id="profile" class="section">
  <div class="container">
    <div class="row">

      <div class="col-md-12 headline wow bounceInDown">
        <h2>Jennifer Nelson</h2>
        <p>Front End Developer. AngularJS Specialist. Javascript Programmer.</p>
      </div>

      <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
        <!-- <img class="avatar" src="assets/images/photonl.jpg" alt=""> -->
        <%= image_tag("laptop2.jpg", class: "avatar", alt: "Jennifer Nelson") %>
      </div>

      <div class="col-md-3 col-sm-6 wow bounceInUp">

        <div class="profile-widget">
          <h3>Skillset</h3>

          <h5>AngularJS</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
          </div>

          <h5>HTML / CSS3 / SASS</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
          </div>

          <h5>Javascript</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
          </div>

          <h5>Ruby on Rails</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
          </div>
        </div>

        <div class="profile-widget">
          <h3>Social Profiles</h3>
          <ul class="widget-social">
            <li><a href="http://www.linkedin.com/pub/jennifer-wallick-nelson-pmp/8/840/658/"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="http://github.com/jwncoexists"><i class="fa fa-github-alt"></i></a></li>
            <li><a href="http://codepen.io/jwncoexists/"><i class="fa fa-codepen"></i></a></li>
            <li><a href="http://twitter.com/intent/tweet?screen_name=jwncoexists"><i class="fa fa-twitter-square"></i></a></li>
          </ul>
        </div>

      </div><!-- .col-md-3 -->

      <div class="col-md-6 col-sm-12 wow bounceInRight">
        <h3>Profesional Profile</h3>
        <p>Jennifer Nelson is a freelance web developer living in San Diego,
          California. She has worked for startups as well as large corporations
          and has experience with a variety of frameworks, APIs and
          languages, including: <em>AngularJS, Javascript, jQuery, HTML5, CSS3, SASS,
          Bootstrap, Susy Grids, Ruby on Rails, SQL, AWS, Resque, PostgreSQL,
          MongoDB, Cucumber, RSpec Node.js & Express</em>.</p>
        <p>Jennifer believes in behavior-driven and test driven development,
          and is passionate about creating quality software applications,
          on schedule and within budget. As a creative problem solver,
          Jennifer excels at taking ideas from concept through to implementation.</p>
      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</section>
<!-- Profile section end -->

<!-- Callout section start -->
<section id="stats" class="callout">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft">
        <h2>A Good Day</h2>
      </div>

      <div class="col-md-3 col-sm-4 wow bounceInDown">
        <div class="stat">
          <div class="stat-icon">
            <h2><i class="fa fa-clock-o hidden-xs"></i><span class="timer" data-to="10"></span></h2>
          </div>
          <h3>hours tdd</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow bounceInUp">
        <div class="stat">
          <div class="stat-icon">
            <h2><i class="fa fa-bug hidden-xs"></i><span class="timer" data-to="0"></span></h2>
          </div>
          <h3>bugs released</h3>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 wow bounceInRight">
        <div class="stat">
          <div class="stat-icon">
            <h2><i class="fa fa-refresh hidden-xs"></i><span class="timer" data-to="2"></span></h2>
          </div>
          <h3>hours hot yoga</h3>
        </div>
      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</section>
<!-- Callout section end -->

<!-- Services section start -->
<!-- <section id="reasons" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 headline wow bounceInDown">
        <h2>6 Reasons Why</h2>
        <p>I Love This Profession.</p>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-4 wow bounceInLeft">
            <div class="service">
              <div class="icon">
                <i class="fa fa-pencil"></i>
              </div>
              <h4>Text rotator</h4>
              <div class="text">
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 wow bounceInUp">
            <div class="service">
              <div class="icon">
                <i class="fa fa-image"></i>
              </div>
              <h4>Slideshow</h4>
              <div class="text">
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 wow bounceInRight">
            <div class="service">
              <div class="icon">
                <i class="fa fa-cog"></i>
              </div>
              <h4>Easy configure</h4>
              <div class="text">
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
            <div class="service">
              <div class="icon">
                <i class="fa fa-code"></i>
              </div>
              <h4>Clear code</h4>
              <div class="text">
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
            <div class="service">
              <div class="icon">
                <i class="fa fa-desktop"></i>
              </div>
              <h4>Responsive design</h4>
              <div class="text">
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-4 wow bounceInUp" data-wow-delay=".6s">
            <div class="service">
              <div class="icon">
                <i class="fa fa-life-ring"></i>
              </div>
              <h4>Support</h4>
              <div class="text">
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Services section end -->

<!-- Portfolio section start -->
<section id="portfolio" class="section">
  <div class="container">
    <div class="row">

      <div class="col-md-12 headline wow bounceInDown">
        <h2>Portfolio</h2>
        <p>My best works.</p>
      </div>

      <div class="col-md-4 col-sm-6 wow bounceInLeft">
				<a href='http://usmc-tbsa168-reunion.org/' title="Marine Corps Reunion Site">
					<div class="portfolio-item">
						<div class="portfolio-item-preview-in">
							<%= image_tag('tbsa168.jpg') %>
						</div>
						<div class="portfolio-item-description">
							<h3>US Marine Corps Reunion</h3>
							<p>Web App</p>
						</div>
					</div>
				</a>
			</div>

      <div class="col-md-4 col-sm-6 wow bounceInUp">
				<a href="http://ujkk16f38f93.jwncoexists.koding.io:9000/"  title="Wedding Planning Site">
					<div class="portfolio-item">
						<div class="portfolio-item-preview">
              <%= image_tag('sdwedding.jpg') %>
						</div>
						<div class="portfolio-item-description">
							<h3>Wedding Planning</h3>
							<p>Web App</p>
						</div>
					</div>
				</a>
			</div>


      <div class="col-md-4 col-sm-6 wow bounceInRight">
        <a href="http://strategichr.drbobnelson.com/"  title="Online HR Training">
          <div class="portfolio-item">
            <div class="portfolio-item-preview-out">
              <%= image_tag('strategichr.jpg') %>
            </div>
            <div class="portfolio-item-description">
              <h3>HR Training</h3>
              <p>Web App</p>
            </div>
          </div>
        </a>
      </div>



      <!-- <div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".2s">
        <a href="assets/images/p5.jpg" class="pop-up" title="Caption 4">
          <div class="portfolio-item">
            <div class="portfolio-item-preview">
              <img src="assets/images/p5.jpg" alt="">
            </div>
            <div class="portfolio-item-description">
              <h3>Some work</h3>
              <p>Category</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".4s">
        <a href="assets/images/p8.jpg" class="pop-up" title="Caption 5">
          <div class="portfolio-item">
            <div class="portfolio-item-preview">
              <img src="assets/images/p8.jpg" alt="">
            </div>
            <div class="portfolio-item-description">
              <h3>Some work</h3>
              <p>Category</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 wow bounceInUp" data-wow-delay=".6s">
        <a href="assets/images/p6.jpg" class="pop-up" title="Caption 6">
          <div class="portfolio-item">
            <div class="portfolio-item-preview">
              <img src="assets/images/p6.jpg" alt="">
            </div>
            <div class="portfolio-item-description">
              <h3>Some work</h3>
              <p>Category</p>
            </div>
          </div>
        </a>
      </div> -->

    </div><!-- .row -->
  </div><!-- .container -->
</section>
<!-- Portfolio section end -->
