
<!-- Home Carousel -->

<section id="home-carousel" class="home-section">
    <div class="wrap-pattern">
        <div class="container">
            <div id="carousel-home" class="carousel slide" data-ride="carousel"  data-interval="3000">
                <!-- Indicators -->

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slogan home-section">
                                    <p></p>
                                    <p id="aboutSlogan" class="lead">Turning Ideas into Web Applications!</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                            </div>
                        </div>
                    </div>
                </div> <!-- carousel-inner -->
            </div> <!-- carousel-home -->
        </div> <!-- container -->
    </div> <!-- wrap-pattern -->
</section> <!--  home-carousel -->



<!-- home-slogan -->
<section class="slogan home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="lead"><span>Using </span>AngularJS <span>Ruby on Rails </span>JQuery <span>BDD </span>OOD <span>Javascript  </span>Resque <span>Relational DBs </span>MongoDB <span>TDD </span>Cucumber <span>RSpec </span>HTML <span>CSS</span>.</p>
            </div>
        </div>
    </div> <!-- container -->
</section> <!-- home-slogan -->


<!-- Home-about -->
<section id="home-about" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 home-about-text">
                <h1 class="section-title">About</h1>
                <p>Jennifer Nelson is a freelance web developer living in San Diego, California. She has experience with a variety of frameworks and languages, and has worked for startups as well as large corporations. </p>

                <p>Jennifer believes in behavior-driven and test driven development, and is passionate about creating quality software applications, on schedule and within budget. As a creative problem solver, Jennifer excels at taking ideas from concept through to implementation.</p>

            </div> <!-- home-about-test -->

            <div class="col-md-6 home-about-features">
              <%= image_tag("JN.png", class: "img-responsive", alt: "Jennifer Nelson") %>
            </div> <!-- home-about-features -->
        </div> <!-- row -->
    </div> <!-- cointainer -->
</section> <!-- home-about -->

<!-- Home Features -->
<section id="home-features" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <article class="home-features-item hover">
                    <div class="item-icon">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="item-content">
                        <h3>View  Jennifer  Nelson's  Resume</h3>
                        <p>View print, or download Jennifer Nelson's resume.</p>
                        <a href="resume-jnelson.pdf" class="btn btn-transparent pull-right" target = "_blank">View resume</a>
                    </div>
                </article> <!-- home-features-item -->
            </div>
            <div class="col-sm-4">
                <article class="home-features-item hover">
                    <div class="item-icon">
                        <i class="fa fa-linkedin"></i>
                    </div>
                    <div class="item-content">
                        <div class="row">
                            <h3>Connect on LinkedIn</h3>
                        </div>
                        <p>Learn more and connect with Jennifer Nelson on LinkedIn.</p>
                        <a href="http://www.linkedin.com/pub/jennifer-wallick-nelson-pmp/8/840/658/" class="btn btn-transparent pull-right" target = "_blank">Go to LinkedIn</a>
                    </div>
                </article> <!-- home-features-item -->
            </div>
            <div class="col-sm-4">
                <article class="home-features-item hover">
                    <div class="item-icon">
                        <i class="fa fa-github-square"></i>
                    </div>
                    <div class="item-content">
                        <div class="row">
                        <h3>Check out Jennifer on GitHub</h3>
                        </div>
                        <p>Browse Jennifer's source code on GitHub.</p>
                        <a href="http://github.com/jwncoexists" class="btn btn-transparent pull-right" target = "_blank">Go to GitHub</a>
                    </div>
                </article> <!-- home-features-item -->
            </div>
        </div> <!--row -->
    </div> <!-- container -->
</section> <!-- home-features -->

<section id="latest-works" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title text-center">Latest Works</h1>
                <div class="row">
                    <div class="col-md-4 col-sm-6 ">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("project1.jpg", class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>e-learning site for best-selling author</h3>
                                <p>Ruby on Rails, postgreSQL, resque</p>
                                <a href="http://strategichr.drbobnelson.com" class="btn btn-transparent pull-right">Visit site</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("project2.jpg", class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>Wedding Planning Site</h3>
                                <p>AngularJS, MongoDB, Express, Node</p>
                                <a href="http://ujkk16f38f93.jwncoexists.koding.io:9000/" class="btn btn-transparent pull-right">Visit site</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("project4.jpg", class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>Music Player</h3>
                                <p>AngularJS, MongoDB, Node, Express</p>
                                <a href="http://jn-bloc=jams-test.herokuapp.com" class="btn btn-transparent pull-right">Visit site</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->

                </div>
            </div>
        </div> <!-- row -->
    </div>
</section> <!-- latest-works -->
