<header class="page-title">
    <div class="container">
        <h1>Contact Jennifer Nelson</h1>

        <ol class="breadcrumb">
            <li><a href=<%= root_path %>>Blogs</a></li>
            <li class="active">Contact</li>
        </ol>
    </div> <!-- container -->
</header>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2 class="section-title">Send Message</h2>
            <form role="form">
                <div class="form-group">
                    <label for="InputName">Name</label>
                    <input type="email" class="form-control" id="InputName">
                </div>
                <div class="form-group">
                    <label for="InputEmail1">Email address</label>
                    <input type="email" class="form-control" id="InputEmail1">
                </div>
                <div class="form-group">
                    <label for="InputMessage">Message</label>
                    <textarea class="form-control" id="InputMessage" rows="8"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-md-5">
            <div class="contact-info">
                <h3>Contact</h3>
                <address>
                    <strong>Jennifer Nelson</strong><br>
                    jenniferwnelson@sbcglobal.net<br>
                    twitter: @jwncoexists<br>
                    Located in San Diego, CA USA<br>
                    <abbr title="Phone">P:</abbr> (858) 705-3201<br>
                    <abbr title="FAX">F:</abbr> (858) 673-9031
                </address>
            </div>
        </div>
    </div>
</div> <!-- container -->
