@import "bootstrap";
@import "bootstrap-theme";
@import "style";
@import "font-awesome";
@import "width-full";
@import "color-turquoise";
@import "animate";

.slogan .lead {
  margin-top: 30px;
}

figure.caption figcaption {
  background-color: #303030;
  border: 1px solid white;
}
