
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>&copy; 2015 <a href="#">Jennifer Nelson</a>
                  <span> | </span>
                  Phone: <a href="tel:1-858-705-3201">858-705-3201</a>
                  <span> | </span>
                  Email: <a href="mailto:jwncoexists@gmail.com">jwncoexists@gmail.com</a></p>
            </div>
        </div>
    </div>
</footer> <!-- footer -->
