<aside id="bottom-widgets">
    <div class="container">
        <div class="col-md-4">
            <section class="footer-widget">
                <h3>Sitemap</h3>
                <ul class="footer-sitemap two_cols">
                    <li><a href="#"><i class="fa fa-angle-right"></i>Home</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Blog</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>About us</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Register</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>Login</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i>FAQ</a></li>
                </ul>
            </section>
        </div>
        <div class="col-md-4">
            <section class="footer-widget">
                <h3>Recent Post blog</h3>
                <div class="media footer-post">
                    <a class="pull-left" href="#">
                        <%= image_url("65.jpg", class: "media-object",  alt: "...") %>
                    </a>
                    <div class="media-body">
                        <a  href="#">Lorem ipsum Aliquip pariatur dolore cillum dolore eiusmod</a>
                        <span class="footer-post-date">December 15, 2013</span>
                    </div>
                </div> <!-- media -->
            </section>
        </div>
        <div class="col-md-4">
            <section class="footer-widget">
                <h3 class="logo"><i class="fa fa-gear fa fa-spin"></i> <span>ruby on rails</span> hacker</h3>
                <address>
                    Phone: 858.705.3201 <br>
                    Fax: 858.673-9031 <br>
                    Email: <a href="mailto:rubyonrailshacker@gmail.com">rubyonrailshacker@gmail.com</a>
                </address>
                <div class="footer-social">
                    <h3>Social media</h3>
                    <a href="#" class="i-rss"><i class="fa fa-rss"></i></a>
                    <a href="#" class="i-google"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="i-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="i-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="i-linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </section>
        </div>
    </div> <!-- container -->
</aside> <!--bootom-widgets -->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>&copy; 2014 <a href="#">Jennifer Nelson</a>, inc. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> <!-- footer -->